<ion-view title="About">
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-navicon" ng-click="toggleLeft()" ng-hide="$exposeAside.active"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">        
        <div class="card">
            <div class="item" style="text-align: center;">
                <h1 style="font-size: 400%; font-weight: bold;">Blogga</h1>
                <h2 style="font-size: 120%; font-weight: bold;">LiveJournal client</h2>
            </div>
            </div>        
        </ion-content>
</ion-view>

