<div ng-init="preProcessComments(child.children)" class="blg-comment-padding padding">
<div ng-repeat="child in child.children">
    <ion-item class="blg-comment item-stable item-avatar item-button-right">
        <img class="blg-avatar" ng-src="{{child.$$userpic}}">
        <p class="blg-right">{{child.datepostunix | unixFormat}}</p>
        <p>{{child.postername}}</p>
        <button class="button button-icon icon {{child.$$show ? 'ion-minus' : 'ion-plus'}}"
                ng-click="toggleComment(child)"
                style="top: 20px"
                ng-show="child.children">
        </button>
    </ion-item>
    <ion-item class="blg-content">
        <pre
             ng-bind-html="child.$$body"
             ng-click="bubbleCheck($event)">
        </pre>
    </ion-item>
    <div ng-if="child.$$show">
        <ng-include ng-if="child.children" src="'templates/comment.html'">
        </ng-include>
    </div>
</div>
</div>
