
<div class="padding">
	<ion-list>
	<div ng-repeat="child in child.children">
	
		<ion-item class="item-stable item-avatar item-button-right">
			<img ng-cache ng-init="avatarData.load_avatar(child)"
			              ng-src="{{child.$$avatar}}"
	                      ng-click="load_journal(child.postername)"
	                      stop-event="click"
	                      class="blg-avatar">			              
			<span>
				<h2>{{child.postername}}</h2>
				<p>{{child.datepostunix | unixFormat}}</p>
			</span>
			<button class="button button-icon icon {{child.m_show ? 'ion-minus' : 'ion-plus'}}"
				    ng-click="child.m_show = !child.m_show;"
				    style="top: 20px"
				    ng-show="child.children">
			</button>      
		</ion-item>
		<ion-item class="item-accordion" ng-show="true">
			<div style="white-space: normal"
				 ng-init="get_body(child)"
				 ng-bind-html="child.$$body"></div>
		</ion-item>
		<div ng-show="child.m_show">
			<ng-include ng-if="child.children" src="'templates/comment.html'"></ng-include>
		</div>
		
	</div>
	</ion-list>
</div>

