<ion-view ng-init="postData.set_title(get_journal_title())" title="{{get_journal_title()}}">
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-navicon" ng-click="toggleLeft()" ng-hide="$exposeAside.active"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
    
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="refresh_posts()">
        </ion-refresher>    
    
        <ion-list>
        
	        <div ng-init="set_last_date($last,$index)" ng-repeat="post in postData.posts">
	
		        <ion-item class="item-stable item-avatar item-button-right"
		                  ng-click="toggle_show($index)">
		
			        <img ng-cache ng-init="avatarData.load_avatar(post.poster)"
			                      ng-src="{{avatarData.get_avatar(post.poster)}}">
			
			        <span>
				        <h2 ng-init="get_title($index,$id)">{{titles[$id]}}</h2>
				        <p>{{post.poster}}</p>
			        </span>
						
			        <span class="badge">
				        <div>
					        <div>{{post.eventtime | dateFormat}}</div>
					        <div>{{post.eventtime | timeFormat}}</div>
				        </div>
			        </span>
			
			
			        <a class="button"
					        href="#/app/journal/{{journalId}}/{{post.itemid}}"
					        style="top: 20px"
					        ng-show="post.reply_count"
					        stop-event="click">
				        {{post.reply_count}}
			        </a>
		
		        </ion-item>
		        <ion-item class="item-accordion" ng-show="post.m_show">		   
			        <div style="white-space: normal"
				         ng-init="get_content(post.event,$id)"
				         ng-bind-html="contents[$id]"></div>			
		        </ion-item>
	
	        </div>

        </ion-list>
        
		<ion-infinite-scroll
			ng-if="can_load_posts()"
			on-infinite="load_posts()"
			distance="1%">
		</ion-infinite-scroll>        
        
    </ion-content>
</ion-view>

