<ion-side-menus>

    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-positive nav-title-slide-ios7">
            <ion-nav-back-button class="button-clear">
            	<i class="icon ion-ios7-arrow-back"></i>
            		Back
            	</ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-pane>

    <ion-side-menu side="left" expose-aside-when="(min-width:769px)">
        <header class="bar bar-header bar-light">
            <h1 class="title">Menu</h1>
        </header>
        <ion-content class="has-header">
            <ion-list>
            
            	<!-- Account -->            	

                <ion-item class="item-divider">
                	Account
                </ion-item>

                <ion-item class="item-icon-left" nav-clear menu-close ng-show="loggedin()" ng-click="profile()">
                
		                <div class="icon">
		                
			            <img ng-cache ng-src="{{loginData.get_avatar()}}" class="blg-icon">

		                </div>                

                    {{loginData.get_name()}}
                </ion-item>            	
                <ion-item class="item-icon-left" nav-clear menu-close ng-show="loggedin()" ng-click="logout()">
                    <i class="icon ion-log-out"></i>
                    Logout
                </ion-item>                
                <ion-item class="item-icon-left" nav-clear menu-close ng-show="!loggedin()" ng-click="login()">
                    <i class="icon ion-log-in"></i>
                    Login
                </ion-item>

                <ion-item class="item-divider" ng-show="loggedin() && loginData.has_groups()">
                	Groups
                </ion-item>
                
            	<ion-list ng-show="loggedin() && loginData.has_groups()">
		            <ion-item class="item-icon-left" nav-clear menu-close
		                      ng-repeat="group in loginData.groups"
		                      href="#/app/journal/{{group}}">
		                      
		                <div class="icon">
		                
			            <img ng-cache ng-init="o = {poster:group}; avatarData.load_avatar(o)"
			                          ng-src="{{o.$$avatar}}"
			                          class="blg-icon"
			                          >

		                </div>
             
		                {{group}}
                  
		            </ion-item>                
            	</ion-list>
            	
                <ion-item class="item-divider" ng-show="loggedin() && loginData.has_friends()">
                	Friends
                </ion-item>
                
            	<ion-list ng-show="loggedin() && loginData.has_friends()">
		            <ion-item class="item-icon-left" nav-clear menu-close
		                      ng-repeat="friend in loginData.friends"
		                      href="#/app/journal/{{friend.username}}">
		                      
		                <div class="icon">
		                
			            <img ng-cache ng-init="avatarData.load_avatar(friend)"
			                          ng-src="{{friend.$$avatar}}"
			                          class="blg-icon"
			                          >
			                          
		                </div>
		                
					    <span>
				        	<div ng-init="get_fullname($index,$id)">{{fullnames[$id]}}</div>
						    <div ng-show="friend.fullname != friend.username">{{friend.username}}</div>
					    </span>
					    
		            </ion-item>                
            	</ion-list>            
            
            	<!-- Bookmarks -->            

                <ion-item class="item-divider">
                	Bookmarks
                </ion-item>
            
				<ion-item class="item-input-inset">
					<button class="button button-small button-icon icon ion-ios7-minus-outline"
					        ng-disabled="!journalData.has_journals()"
					        ng-click="journalData.show_delete = !journalData.show_delete">
					</button>
				
					<label class="item-input-wrapper">
					<input type="text" placeholder="Journal" ng-model="menuData.name">
					</label>
					
					<button class="button button-small button-icon icon ion-ios7-plus-outline"
					        ng-disabled="!menuData.name || journalData.has_journal(menuData.name)"
					        ng-click="submit(); journalData.show_delete = false">
					</button>
				</ion-item>
            
            	<ion-list show-delete="journalData.show_delete">
		            <ion-item class="item-icon-left" nav-clear menu-close
		                      ng-repeat="journal in journalData.journals | filter: menuData.name"
		                      href="#/app/journal/{{journal.username}}"
		                      ng-class="{active: journal.$$active}">		                
		                
		                <div class="icon">
		                
			            <img ng-cache ng-init="avatarData.load_avatar(journal)"
			                          ng-src="{{journal.$$avatar}}"
			                          class="blg-icon"
			                          >

		                </div>		                
	                
		                {{journal.username}}
		                
						<ion-delete-button class="ion-minus-circled"
							               ng-click="journalData.delete_journal(journal)">
						</ion-delete-button>                    
		            </ion-item>                
            	</ion-list>
            	            	
            	<!-- Settings -->
                
                <ion-item class="item-divider">
                	Settings
                </ion-item>

                <ion-item class="item-icon-left" nav-clear menu-close href="#/app/search">
                    <i class="icon ion-ios7-search-strong"></i>
                    Search
                </ion-item>
                <ion-item class="item-icon-left" nav-clear menu-close href="#/app/browse">
                    <i class="icon ion-ios7-world-outline"></i>
                    Browse
                </ion-item>                
                <ion-item class="item-icon-left" nav-clear menu-close href="#/app/about">
                    <i class="icon ion-ios7-information-outline"></i>
                    About
                </ion-item>

            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>

