<ion-side-menus>

    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-stable nav-title-slide-ios7">
            <ion-nav-back-button class="button-clear">
            	<i class="icon ion-ios7-arrow-back"></i>
            		Back
            	</ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-pane>

    <ion-side-menu side="left" expose-aside-when="large">
        <header class="bar bar-header bar-stable">
            <h1 class="title">Journals</h1>
        </header>
        <ion-content class="has-header">
            <ion-list>
				<ion-item class="item-input-inset">
					<button class="button button-small button-icon icon ion-ios7-minus-outline"
					        ng-disabled="!journalData.has_journals()"
					        ng-click="journalData.show_delete = !journalData.show_delete">
					</button>
				
					<label class="item-input-wrapper">
					<input type="text" placeholder="Journal" ng-model="journal.title">
					</label>
					
					<button class="button button-small button-icon icon ion-ios7-plus-outline"
					        ng-disabled="!journal.title || journalData.has_journal(journal.title)"
					        ng-click="submit(); journalData.show_delete = false">
					</button>
				</ion-item>
            
            	<ion-list show-delete="journalData.show_delete">
		            <ion-item class="item-icon-left" nav-clear menu-close
		                      ng-repeat="journal in journalData.journals | filter: journal.title"
		                      href="#/app/journal/{{$index}}">
		                <i class="icon ion-ios7-person"></i>
		                {{journal.title}}
						<ion-delete-button class="ion-minus-circled"
							               ng-click="journalData.delete_journal(journal)">
						</ion-delete-button>                    
		            </ion-item>                
            	</ion-list>
                
                <ion-item class="item-divider">
                </ion-item>            
                <ion-item class="item-icon-left" nav-clear menu-close href="#/app/search">
                    <i class="icon ion-ios7-search-strong"></i>
                    Search
                </ion-item>
                <ion-item class="item-icon-left" nav-clear menu-close href="#/app/browse">
                    <i class="icon ion-ios7-world-outline"></i>
                    Browse
                </ion-item>
                <ion-item class="item-divider">
                </ion-item>            
                <ion-item class="item-icon-left" nav-clear menu-close ng-click="login()">
                    <i class="icon ion-log-in"></i>
                    Login
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>

