<ion-view view-title="posts @ {{journal}}">
    <ion-nav-buttons side="primary">
        <button class="button button-icon button-clear ion-navicon"
            menu-toggle="left" ng-hide="$exposeAside.active">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher on-refresh="update()">
        </ion-refresher>
        <ion-list>
            <ion-item class="blg-item item-button-left"
                collection-repeat="post in posts"
                collection-item-width="'100%'"
                collection-item-height="76"
                type="item-text-wrap"
                ng-click="loadPost(journal,post)">
                <button class="button button-light blg-avatar-button" ng-click="loadJournal(post.poster)" stop-event="click">
                    <div class="blg-avatar-cropper">
                        <div class="blg-avatar-rounded"
                            style = 'background-image: url({{post.$$userpic}})'>
                        </div>
                    </div>
                </button>
                <i class="icon ion-chatbubble light">{{post.reply_count}}</i>
                <h2>{{post.$$subject}}</h2>
                <p class="blg-right ion-ios7-clock-outline"> {{post.eventtime | dateFormat}}</p>
                <p>{{post.poster}}</p>
            </ion-item>
            <ion-item class="padding text-center" ng-if="error">
                <h3 class="blg-journal-error-text">Request Failed</h3>
                <small ng-if="errorData">{{errorData.$$message}}</small>
                <small ng-if="!errorData">Check that you are online</small>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll
            icon=""
            ng-if="canLoadMore()"
            on-infinite="loadMore()"
            distance="5%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
