<div ng-init="preProcessComments(child)" class="blg-comment-padding padding">
<div ng-repeat="child in child.children">
<div ng-if="child.$$load">
    <div class="item item-stable blg-item-comment item-button-left item-button-right">
            <button class="button button-light blg-avatar-button" ng-click="loadJournal(child.postername)">
                <div class="blg-avatar-cropper">
                    <div class="blg-avatar-rounded"
                        style = 'background-image: url({{child.$$userpic}})'>
                    </div>
                </div>
            </button>

            <p class="blg-right">{{child.datepostunix | unixFormat}}</p>
            <p>{{child.postername}}</p>

            <button class="blg-button-expand button button-icon icon {{child.$$show ? 'ion-minus' : 'ion-plus'}}"
                ng-click="toggleComment(child)"
                ng-show="child.children">
            </button>
    </div>
    <ion-item class="blg-content blg-html">
        <pre
             ng-bind-html="child.$$body"
             ng-click="processLink($event)">
        </pre>
    </ion-item>
    <div ng-if="child.$$show">
        <ng-include ng-if="child.children" src="'app/post/comment.html'">
        </ng-include>
    </div>
</div>
</div>
<ion-item
    ng-if="child.$$load_more"
    class="button icon-left ion-ios7-chatboxes-outline button-positive"
    ng-click="loadComments(child)">
    More comments
</ion-item>
</div>
