<ion-view view-title="{{journal}}">
    <ion-nav-buttons side="secondary">
        <a class="button button-icon icon ion-ios7-paper-outline"
            href="#/app/journal/{{journal}}">
        </a>
    </ion-nav-buttons>
    <ion-content ng-controller="EditCommentController">
        <div ng-if="loading.loaded" class="blg-card card">
            <div class="blg-item-comment item item-divider item-button-left item-button-right">

                <button class="button button-light blg-avatar-button" ng-click="loadJournal(post.poster)">
                    <div class="blg-avatar-cropper">
                        <div class="blg-avatar-rounded"
                            style = 'background-image: url({{post.$$userpic ? post.$$userpic : defaultAvatar}})'>
                        </div>
                    </div>
                </button>

                <p class="blg-right">{{post.eventtime | dateFormat}}</p>
                <h2>{{post.$$subject}}</h2>
                <p>{{post.poster}}</p>

                <div class="buttons blg-post-buttons">
                    <button
                        class="button button-icon icon ion-ios7-compose-outline"
                        ng-class="{disabled: !canPostComment()}"
                        ng-click="openCommentEdit(journal,post.ditemid,null)">
                    </button>
                    <button
                        class="button button-icon icon ion-ios7-trash-outline"
                        ng-class="{disabled: !canDeleteEntry()}"
                        ng-click="deleteEntry()">
                    </button>
                </div>

            </div>
            <div class="item item-text-wrap">
                <pre class="blg-html"
                    ng-bind-html="post.$$event"
                    ng-click="processLink($event)">
                </pre>
            </div>

            <ion-item ng-if="post.props && post.props.taglist" class="item-icon-left">
                <i class="icon ion-ios7-pricetags-outline placeholder-icon"></i>
                <span>{{post.props.$$taglist}}</span>
            </ion-item>

            <ion-item ng-if="post.props && post.props.current_location" class="item-icon-left">
                <i class="icon ion-ios7-location-outline placeholder-icon"></i>
                <span>{{post.props.$$current_location}}</span>
            </ion-item>

            <ion-item ng-if="post.props && post.props.current_mood" class="item-icon-left">
                <i class="icon ion-happy placeholder-icon"></i>
                <span>{{post.props.$$current_mood}}</span>
            </ion-item>

        </div>

        <button ng-if="loading.loaded"
            class="button button-full button-clear button-positive"
            ng-class="{disabled: !(post.reply_count && !show.comments)}"
            ng-click="show.comments = true; getComments();">
            <i class="icon ion-ios7-chatboxes-outline" style="margin-right: 8px"></i>
            load comments
        </button>

        <div class="spinner spinner-comments ng-hide"
            ng-show="loading.comments">
            <i class="icon ion-loading-d positive"></i>
        </div>

        <div ng-if="show.comments" class="list list-inset">
            <ion-list>
                <ng-include ng-if="child.children"
                    src="'app/post/comment.html'">
                </ng-include>
            </ion-list>
        </div>

        <div class="spinner spinner-post ng-hide"
            ng-show="loading.post"
            ng-style="{'top':getPostSpinnerHeight()+'px'}">
            <i class="icon ion-loading-d positive"></i>
        </div>

    </ion-content>
</ion-view>
