/*
* Blogga Post Style
*/

.blg-button-expand {
    left: -webkit-calc(100% - 58px) !important;
    top: -webkit-calc(100% - 58px) !important;
}

/**/

.blg-item-comment {
    width: 100%;
    height: 76px;
}

.blg-item-comment p.blg-right {
    float: right;
}

.blg-comment-padding {
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.blg-content {
    border-top-color: #A8A8A8;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.blg-html {
    font-size: 18px !important;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    color: #000 !important;
}

.blg-html * {
    font-size: 18px !important;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    color: #000 !important;
}

.blg-html img {
    max-width: 100%;
    height: auto;
}

/**/

.spinner-post {
    top: 50px;
}

.spinner-comments {
    bottom: 0;
}

.spinner {
    margin: 100px auto 0;
    text-align: center;
    font-size: 50px;
    position: absolute;
    left: -webkit-calc(50% - 25px);
    z-index: 2;
    -webkit-transition: all 0.4s cubic-bezier(0.6, -1.6, 0.92, 0.48);
    transition: all 0.4s cubic-bezier(0.6, -1.6, 0.92, 0.48);
}

.spinner.ng-hide-add {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.spinner.ng-hide-add-active {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
}

/**/
