<ion-view view-title="{{journal}}">
    <ion-nav-buttons side="secondary">
        <a class="button button-icon icon ion-ios7-home-outline"
            href="#/app/journal/{{journal}}">
        </a>
    </ion-nav-buttons>
    <ion-content>
        <div class="blg-card card">
            <div class="blg-item item-button-left item item-divider">

                <button class="button button-light blg-avatar-button" ng-click="loadJournal(post.poster)">
                    <div class="blg-avatar-cropper">
                        <div class="blg-avatar-rounded"
                            style = 'background-image: url({{post.$$userpic}})'>
                        </div>
                    </div>
                </button>

                <h2>{{post.$$subject}}</h2>
                <p class="blg-right">{{post.eventtime | dateFormat}}</p>
                <p>{{post.poster}}</p>
            </div>
            <div class="item item-text-wrap">
                <pre class="blg-html"
                    ng-bind-html="post.$$event"
                    ng-click="processLink($event)">
                </pre>
            </div>

            <ion-item ng-if="post.props && post.props.taglist" class="item-icon-left">
                <i class="icon ion-ios7-pricetags-outline placeholder-icon"></i>
                <span>{{post.props.$$taglist}}</span>
            </ion-item>

        </div>

        <ion-item
            ng-if="post.reply_count && !show.comments"
            style="margin-left: 10px"
            class="button icon-left ion-ios7-chatboxes-outline button-positive"
            ng-click="show.comments = true; getComments();">
            Show comments
        </ion-item>

        <div ng-if="show.comments" class="list list-inset">
            <ion-list>
                <ng-include ng-if="child.children"
                    src="'app/post/comment.html'">
                </ng-include>
            </ion-list>
        </div>

        <div class="spinner ng-hide"
            ng-show="loading.post"
            ng-style="{'top':getPostSpinnerHeight()+'px'}">
            <i class="icon ion-loading-d positive"></i>
        </div>

        <div class="spinner ng-hide"
            ng-show="loading.comments"
            ng-style="{'top':getPostCommentsHeight()+'px'}">
            <i class="icon ion-loading-d royal"></i>
        </div>

    </ion-content>
</ion-view>
