<ion-view view-title="{{journal}}">
    <ion-nav-buttons side="secondary">
        <a class="button icon-left ion-ios7-home-outline button-clear"
            href="#/app/journal/{{journal}}">
        </a>
    </ion-nav-buttons>
    <ion-content>
        <div class="card">
            <div class="blg-item item-button-left item item-divider">

                <button class="button button-light blg-avatar-button" ng-click="loadJournal(post.poster)">
                    <div class="blg-avatar-cropper">
                        <div class="blg-avatar-rounded"
                            style = 'background-image: url({{post.$$userpic}})'>
                        </div>
                    </div>
                </button>

                <h2>{{post.$$subject}}</h2>
                <p class="blg-right">{{post.eventtime | dateFormat}}</p>
                <p>{{post.poster}}</p>
            </div>
            <div class="item item-text-wrap">
                <pre class="blg-html"
                    ng-bind-html="post.$$event"
                    ng-click="bubbleCheck($event)">
                </pre>
            </div>
        </div>

        <div class="list list-inset">
            <ion-list>
                <ng-include ng-if="child.children"
                    src="'app/post/comment.html'">
                </ng-include>
            </ion-list>
        </div>

        <div class="spinner" ng-show="loading">
            <i class="icon ion-loading-d energized"></i>
        </div>

    </ion-content>
</ion-view>
