<ion-side-menus>
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button class="button-clear">
                <i class="icon ion-ios7-arrow-back"></i>
                Back
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="app-content"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" expose-aside-when="(min-width:769px)">

        <ion-header-bar class="bar-dark">
            <div class="buttons">
                <button class="button button-icon ion-ios7-information-outline" ng-click="bloh.blah()">
                </button>
            </div>
            <h1 class="title">Blogga</h1>
        </ion-header-bar>

        <ion-header-bar class="blg-menu-bar bar-subheader" style = "height: {{getHeight()}}">

            <ion-item ng-controller="BookmarksController" class="blg-address item-input-inset">
                <button
                    class="button button-small button-icon icon ion-plus-circled"
                    ng-disabled="!data.name || service.has_journal(data.name)"
                    ng-click="addJournal(data.name)">
                </button>
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Journal" ng-model="data.name">
                </label>
                <button
                    class="button button-small button-icon icon ion-arrow-right-c"
                    ng-disabled="!data.name"
                    ng-click="loadJournal(data.name)">
                </button>
            </ion-item>

            <ion-item ng-if="!isLoggedIn()" class="blg-menu-element item-icon-left" ng-click="login()">
                <i class="icon ion-log-in"></i>
                Login
            </ion-item>

            <ion-item ng-if="isLoggedIn()" class="blg-menu-element item-icon-left" ng-click="logout()">
                <i class="icon ion-log-out"></i>
                Logout
            </ion-item>

            <ion-item ng-if="isLoggedIn()" class="blg-menu-element item-icon-left" href="#/app/journal/{{loginData.username}}">
                <div class="icon blg-icon-cropper">
                    <div class="blg-icon-rounded"
                        style = 'background-image: url({{loginData.$$userpic}})'>
                    </div>
                </div>
                {{loginData.username}}
            </ion-item>

            <ion-item ng-if="isLoggedIn()" class="blg-menu-element item-icon-left" ng-controller="EditPostController" ng-click="openPostEdit()">
                <i class="icon ion-ios7-compose-outline"></i>
                Post to journal
            </ion-item>

            <ion-item ng-if="isLoggedIn()" class="blg-menu-element item-icon-left" ng-click="bloh()">
                <i class="icon ion-ios7-email-outline"></i>
                Messages
            </ion-item>

            <div ng-if="isLoggedIn()" class="blg-menu-element item tabs blg-menu-tabs tabs-secondary tabs-icon-top">
                <a class="tab-item"
                    ng-class="{'active': getList() === 'bookmarks'}"
                    ng-click="setList('bookmarks')">
                    <i class="icon ion-ios7-bookmarks-outline"></i>
                    Bookmarks
                </a>
                <a class="tab-item"
                    ng-class="{'active': getList() === 'friends'}"
                    ng-click="setList('friends')">
                    <i class="icon ion-ios7-heart-outline"></i>
                    Friends
                </a>
                <a class="tab-item"
                    ng-class="{'active': getList() === 'groups'}"
                    ng-click="setList('groups')">
                    <i class="icon ion-ios7-people-outline"></i>
                    Groups
                </a>
            </div>

        </ion-header-bar>

        <ng-include ng-if="getList() === 'bookmarks'" src="'app/bookmarks/bookmarks.html'"></ng-include>
        <ng-include ng-if="getList() === 'friends'" src="'app/friends/friends.html'"></ng-include>
        <ng-include ng-if="getList() === 'groups'" src="'app/groups/groups.html'"></ng-include>

    </ion-side-menu>
</ion-side-menus>
