<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Login</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeLogin()">
                Close
            </button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="doLogin()" name="loginForm" novalidate="">
            <div class="list">
                <label class="item item-input"
                    ng-class="{ 'has-error' : loginForm.username.$invalid}">
                    <span class="input-label">Username</span>
                    <input type="text" name="username"
                        ng-model="loginData.username" required>
                </label>
                <div ng-messages="loginForm.username.$error">
                    <div class="form-error" ng-message="required">
                        This field is required
                    </div>
                </div>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" name="password"
                        ng-model="loginData.password">
                </label>
            </div>
            <div class="padding">
                <button class="button button-block button-positive"
                    type="submit">
                    Log in
                </button>
            </div>
            <div ng-if="loginData.$$error" class="padding">
                <p class="blg-login-error-text">
                    <b>Login failed</b>
                </p>
                <p class="blg-login-error-text">
                    {{loginData.$$error.$$message}}
                </p>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
