<ion-view ng-controller="BookmarksController" view-title="Bookmarks" hide-back-button="true">
    <ion-content class="blg-menu-content">
        <ion-item class="item-divider">
            <b>Bookmarks</b>
        </ion-item>
        <ion-item class="item-input-inset">
            <button
                class="button button-small button-icon icon ion-ios7-minus-outline"
                ng-disabled="!service.has_journals()"
                ng-click="toggleShowDelete()">
            </button>
            <label class="item-input-wrapper">
                <input type="text" placeholder="Journal" ng-model="data.name">
            </label>
            <button
                class="button button-small button-icon icon ion-ios7-plus-outline"
                ng-disabled="!data.name || service.has_journal(data.name)"
                ng-click="addJournal(data.name)">
            </button>
        </ion-item>
        <ion-list show-delete="showDelete()">
            <ion-item class="blg-menu-item item-icon-left"
                collection-repeat="bookmark in service.get_bookmarks() | filter: data.name"
                collection-item-width="'100%'"
                collection-item-height="52"
                type="item-text-wrap"
                href="#/app/journal/{{bookmark.username}}"
                ng-class="{active: (service.get_active_journal() == bookmark.username)}"
                ng-click="service.set_active_journal(bookmark.username)">

                <ion-delete-button class="ion-minus-circled"
                    ng-click="service.delete_journal(bookmark)">
                </ion-delete-button>

                <div class="icon blg-icon-cropper">
                    <div class="blg-icon-rounded"
                        style = 'background-image: url({{bookmark.$$userpic}})'>
                    </div>
                </div>

                <h2>{{bookmark.username}}</h2>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
