<ion-view ng-controller="BookmarksController" view-title="Bookmarks">
    <ion-content style = "top: {{getTop()}}">

        <ion-item class="blg-item-divider item-button-left">
            <button
                class="blg-divider-button button button-small button-icon"
                ng-disabled="!service.has_journals()"
                ng-click="toggleShowDelete()">
                <i class="icon ion-minus-circled"></i>
            </button>

            <b>Bookmarks</b>

        </ion-item>

        <ion-list show-delete="showDelete()">
            <ion-item class="blg-menu-item item-icon-left"
                collection-repeat="bookmark in service.get_bookmarks()"
                collection-item-width="'100%'"
                collection-item-height="52"
                type="item-text-wrap"
                href="#/app/journal/{{bookmark.username}}"
                ng-class="{active: (service.get_active_journal() == bookmark.username)}">

                <ion-delete-button class="ion-minus-circled"
                    ng-click="service.delete_journal(bookmark)">
                </ion-delete-button>

                <div class="icon blg-icon-cropper">
                    <div class="blg-icon-rounded"
                        style = 'background-image: url({{bookmark.$$userpic ? bookmark.$$userpic : service.default_avatar}})'>
                    </div>
                </div>

                <h2>{{bookmark.username}}</h2>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
