/*
* Blogga Menu Style
*/

.blg-menu-bar {
    top: 44px;
    padding: 0;
    border-bottom-color: #ddd !important;
    border-bottom-width: 1px !important;
}

.blg-address {
    padding-left: 5px;
    padding-right: 5px;
}

.blg-menu-tabs {
    height: 52px;
    border-left: 0;
    border-right: 0;
}

.blg-menu-element {
    border-bottom: 0;
}

/**/

.blg-item-divider {
    padding-left: 54px;
    background-color: #f5f5f5;
}

.blg-divider-button {
    padding-left: 4px;
    padding-right: 0;
}

/**/


.blg-menu-item {
    width: 100%;
    border-left: 0;
    border-right: 0;
}

/**/

.blg-icon-cropper {
    max-width: 1.1em;
    height: auto;
    position: relative;
    overflow: hidden;
}

.blg-icon-rounded {
    display: block;
    margin: 0 auto;
    height: 1.1em;
    width: 1.1em;
    border-radius: 1.1em;
    background: center no-repeat;
    background-size: cover;
}

/**/
