/*
* Blogga Menu Style
*/

.blg-menu-bar {
    top: 44px;
    padding: 0;
    height: 90px;
    padding-bottom: 10px;
}

.blg-menu-tabs {
    padding-top: 3px;
    height: 52px;
    border-top-width: 0;
    background-color: #FFFFFF;
}

.blg-menu-content {
    top: 134px;
}

/**/

.blg-menu-item {
    width: 100%;
    border-left: 0;
    border-right: 0;
}

/**/

.blg-icon-cropper {
    max-width: 1.1em;
    height: auto;
    position: relative;
    overflow: hidden;
}

.blg-icon-rounded {
    display: block;
    margin: 0 auto;
    height: 1.1em;
    width: 1.1em;
    border-radius: 1.1em;
    background: center no-repeat;
    background-size: cover;
}

/**/
